.MainContentBorder {
    background-color: lightgray;
    border: 2px solid;
    width: 80vw;
    height: 60vh;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 80%;
    column-gap: 10px;
    align-items: end;
    padding-left: 1vw;
    padding-right: 1vw;
}

.MainContentBorder > h1 {
    grid-column: 2;
    padding: 10%;
}

.BarMcd {
    grid-row: 2;
    grid-column: 1;
    border: 5px;
    background-color: #fff10a;
    text-align: center;
    height: 45%;
}
.BarMcd:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.BarWen {
    grid-row: 2;
    grid-column: 2;
    border: 5px;
    background-color: #fec208;
    text-align: center;
    height: 67%;
}

.BarCmg {
    grid-row: 2;
    grid-column: 3;
    border: 5px;
    background-color: #cf240a;
    text-align: center;
    height: 84%;
}

.BarPep {
    grid-row: 2;
    grid-column: 4;
    border: 5px;
    background-color: #e68b7d;
    text-align: center;
    height: 55%;
}

.BarCoke {
    grid-row: 2;
    grid-column: 5;
    border: 5px;
    background-color: #b3966a;
    text-align: center;
    height: 32%;
}
